.main-wrap{
  padding: 30px 20px;
}
.header-text{
  color: blue;
}
.content{
  width: 100%;
  height: auto;
  margin: 0;
}
.list-group-item:hover{
  cursor: pointer;
}

































